.block-partner-1 {
	background-image: url('../images/background/logo-partner-1.png');
}

.block-partner-2 {
	background-image: url('../images/background/logo-partner-2.png');
}

.block-partner-3 {
	background-image: url('../images/background/logo-partner-3.png');
}

.block-partner-4 {
	background-image: url('../images/background/logo-partner-4.png');
}

.block-partner-5 {
	background-image: url('../images/background/logo-partner-5.png');
}

.block-partner-6 {
	background-image: url('../images/background/logo-partner-2.png');
}