.fa {
	margin: 0 5px;
}

.icon-in-features, .icon-in-partner {
	background-color: #e3e3e3;
	border-radius: 50%;
	display: inline-block;
	padding: 50px;
}

.icon-in-partner {
	padding: 10px 14px;
	margin: 0 3px;
}

.fa.fa-flask, .fa.fa-leaf, .fa.fa-globe, .fa.fa-laptop {
	font-size: 300%;
}

.fa.fa-check, .fa.fa-quote-left {
	margin: 0;
    color: #6AC88B;
    margin-right: 8px;
}

.fa.fa-circle.active {
	color: #6AC88B;
}

.fa.fa-paper-plane {
	margin: 0 5px;
}

.fa.fa-twitter {
	font-size: 110%;
}

.fa.fa-google-plus {
	font-size: 110%;
}

.fa.fa-facebook {
	font-size: 125%;
}

.icon-in-partner:hover {
	background-color: #6AC88B;
	color: white;
}