.fa.fa-cloud-download {
	margin: 0 5px 0 2px;
}

.icon-in-features, .icon-in-partner {
	background-color: #e3e3e3;
	display: inline-block;
	padding: 49px 50px;
}

.icon-in-partner {
	padding: 5px 10px;
	margin: 0 3px;
}

.fa.fa-flask, .fa.fa-leaf, .fa.fa-globe, .fa.fa-laptop {
	font-size: 300%;
}

.fa.fa-check, .fa.fa-quote-left {
	margin: 0;
    color: #6AC88B;
    margin-right: 8px;
}

.fa.fa-paper-plane {
	margin: 0 5px;
}

.fa.fa-facebook {
	margin: 0px 3px;
}

.icon-in-partner:hover {
	background-color: #6AC88B;
	color: white;
}