
body {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  line-height: 2; 
}

.block {
	margin-bottom: 80px;
}

.block:hover .icon-in-features {
  background-color: #6AC88B;
  color: white;
  transition: all .3s;
}

.block:hover .h3-features {
	color: #6AC88B;
}

ul {
	margin-bottom: 40px;
}

ul, ol {
	padding: 0px;
}

ol {

  margin: 10px 0;
}

blockquote {
	border: none;
	margin-bottom: 0;
}

cite {
	color: #6AC88B;
}


.row-how {
	margin-bottom: 40px;
}

.form-control {
	border-color: #6AC88B;
	color: white;
	border-width: 2px;
	background-color: transparent;
	padding: 20px 15px; 
}

.input-group-subscribe {
	margin-bottom: 80px;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {   
	border-color: #1cbd87;
	box-shadow: 0 1px 1px #1cbd87 inset, 0 0 8px #1cbd87;
	outline: 0 none;
}

.span-plan {
	font-size: 46px;
	color: #6AC88B;
}

.span-footer {
	display: block;
	padding-top: 5px;
}

.panel:hover {
	border-color: #6AC88B;
	transition: all .3s;
}

.panel:hover .panel-heading {
  background-color: #6dbc89;
  color: white;
  transition: all .3s;
}

.panel:hover .span-plan {
	color: white;
	transition: all .3s;
}

.panel-success {
	border-color: #6AC88B;
}

.text-white {
	color: white;
}

.row-partner {
	margin: 20px 0;
}

.block-partner {
	height: 60px;
	width: 140px;
}

.row-footer {
	padding-top: 40px;
	margin-bottom: 45px;
}