.p-intro {
  color: white;
  font-size: 14px;
  line-height: 2.5em;
  letter-spacing: .1em;
  margin-bottom: 30px;
}

.p-awesome {
	font-weight: lighter;
	margin-bottom: 40px;
}

.p-testimonials {
	margin-bottom: 45px;
	min-height: 72px;
	max-height: 300px;
}

.p-how {
	margin-bottom: 40px;
}

.p-signup {
	margin-bottom: 35px;
}