.section-intro {
	background-image: url('../images/background/intro-background.png');
	background-attachment: fixed;
	padding-top: 110px;
}

.section-awesome {
	background-color: #f8f8f8;
}

.section-subscribe {
	background-image: url('../images/background/subsribe-background.png');
}

.section-partner {
	background-color: #e3e3e3; 
}

.section-footer {
	background-color: #35363a;
}

.section-features {}

.section-testimonials {}

.section-how {}

.section-plan {}

.section-signup {}