.section-intro {
	background-color: #6AC88B;
	padding-top: 110px;
}

.h1-intro {
	color: white;
	font-size: 2em;
	margin-bottom: 30px;
	font-weight: lighter;
}

.p-intro {
  color: white;
  font-size: 12px;
  line-height: 2.5em;
  margin-bottom: 30px;
}

.logo {
	margin-bottom: 115px;
}

.devices {
	background-image: url("../images/background/devices.png");
	height: 355px;
	background-repeat: no-repeat;
}


.btn {
  padding: 10px 15px;
}

.btn-subscribe {
	padding: 11px 10px;
}

.btn-default {
	border-color: white;
	background: #6AC88B;
	color: white;
}

.btn-default:hover {
  background-color: white;
  border-color: white;
  color: #6AC88B;
  transition: .3s;
}

.btn-focused {
	background: white;
	color: #6AC88B;
}

.btn-focused:hover {
	border-color: white;
	color: white;
	background-color: #6AC88B;
	transition: .3s;
}

.fa {
	margin-right: 3px;
}

h2 {
  color: #6AC88B;
  font-weight: lighter;
  margin-top: 90px;
}

.h2-features  {
	margin-bottom: 80px;
}

.icon-in {
	background-color: #e3e3e3;
	border-radius: 50%;
	display: inline-block;
	padding: 50px;
}

.h3-features {
	color: black;
	font-weight: normal;
}

.fa.fa-flask, .fa.fa-leaf, .fa.fa-globe, .fa.fa-laptop {
	font-size: 300%;
}

.block {
	margin-bottom: 80px;
}

.block:hover .icon-in {
  background-color: #6AC88B;
  color: white;
  transition: all .3s;
}

.block:hover .h3-features {
	color: #6AC88B;
}

.section-awesome {
	background-color: #f8f8f8;
}

.h2-awesome, .h2-testimonials, .h2-how, .h2-subscribe, .h2-plan {
	color: #6AC88B;
	font-weight: lighter;
	margin-bottom: 25px;
}

.p-awesome {
	font-weight: lighter;
	margin-bottom: 40px;
}

.p-testimonials {
	margin-bottom: 45px;
}

ul {
	margin-bottom: 40px;
}

ul, ol {
	padding: 0px;
}

ol {

  margin: 10px 0;
}

.fa.fa-check, .fa.fa-quote-left {
	  margin: 0;
    color: #6AC88B;
    margin-right: 8px;
}

.diagram {
	background-image: url('../images/background/diagram.png');
	height: 350px;
}

blockquote {
	border: none;
	margin-bottom: 0;
}

cite {
	color: #6AC88B;
}

.fa.fa-circle.active {
	margin: 25px 10px;
	color: #6AC88B;
}

.row-how {
	margin-bottom: 40px;
}

.h5-how {
	font-size: 16px;
	margin-bottom: 20px;
	font-weight: normal;
}

.p-how {
	margin-bottom: 40px;
}

.section-subscribe {
	background-color: #373737;
}

.h2-subscribe {
	margin-top: 85px;
	margin-bottom: 35px;
	color: white;
}

.fa.fa-paper-plane {
	margin: 0 5px;
}

.btn-success {
	border-color: #6AC88B;
}

.form-control {
	border-color: #6AC88B;
	border-width: 2px;
	background-color: transparent;
	padding: 20px 15px; 
}

.input-group-subscribe {
	margin-bottom: 80px;
}

.h2-plan {
	margin-bottom: 85px;
}

.h3-plan {
	font-weight: normal;
}

.span-plan {
	font-size: 46px;
	color: #6AC88B;
}

.panel-success {
	border-color: #6AC88B;
}

.text-bolded {
	font-weight: bold;
}

.panel-success .panel-heading {
	background-color: #6dbc89;
}

.h2-sign {
	color: #6AC88B;
	font-weight: lighter;
	margin-top: 100px;
	margin-bottom: 50px;
}

.p-sign {
	margin-bottom: 35px;
}

.btn-plan {
	margin-bottom: 100px;
}

.text-white {
	color: white;
}