.section-top {
	background-color: #6AC88B;
	padding-top: 100px;
}

.heading-1 {
	color: white;
	font-size: 2em;
	margin-bottom: 20px;
	font-weight: lighter;
}

.p-1 {
  color: white;
  font-size: 12px;
  line-height: 2.5em;
  margin-bottom: 30px;
}

.head {
	margin-top: 150px;
}

.devices {
	background-image: url("../images/background/devices.png");
	height: 355px;
	background-repeat: no-repeat;
}
.btn {
  padding: 10px 15px;
}

.btn-default {
	border-color: white;
	background: #6AC88B;
	color: white;
}

.btn-default:hover {
  background-color: white;
  border-color: white;
  color: #6AC88B;
  transition: .3s;
}

.btn-focused {
	background: white;
	color: #6AC88B;
}

.btn-focused:hover {
	border-color: white;
	color: white;
	background-color: #6AC88B;
	transition: .3s;
}

.glyphicon {
	margin-right: 3px;
}

.section-2 {
	margin-top: 80px;
}

.heading-2 {
	color: #6AC88B;
	font-weight: lighter;
	margin-bottom: 50px;
}

.block-logo {
	background-color: #e3e3e3;
	border-radius: 50%;
	display: inline-block;
	padding: 50px;
}

.heading-3 {
	color: black;
	font-weight: lighter;
}

.glyphicon.glyphicon-list-alt {
	font-size: 300%;
}

.block-logo:hover {
  background-color: #6AC88B;
  color: white;
  transition: all .3s;
}